body{
    background-color: #d5a5eb;
}
.heading{
    color: whitesmoke;
    background-color:black;
    width: 1100px;
    position:fixed;
    font-size: x-large;
    padding-left: 400px;
    padding-bottom:20px;
}
h2{
    font-size: x-large;
    background-color: rgb(160 210 234);
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
}
img{
    width: 500px;
    border: black solid 20px;
}
div{
    padding-top: 50px;
}
.photo1{
    padding-top: 200px;
}
.photo1>img{
    float: left;
}

.photo2>img{
    float: right;
}
.photo3>img{
    float: left;
}
@media(max-width:1000px){
    body{
        background-color:  rgb(160 210 234);
    }
    .heading{
        color: black;
        background-color:whitesmoke;
        width: 720px;
        position:fixed;
        font-size: large;
        padding-left: 240px;
    }
    h2{
        font-size: large;
        background-color:#d5a5eb;
        padding-top: 50px;
        padding-bottom: 50px;
        color: black;
    }
    img{
        width: 400px;
        border: white solid 20px;
        padding: 11px 10px;
        margin-top: 15px;
    }
    div{
        padding-top: 50px;
    }
    .photo1{
        padding-top: 200px;
    }
    .photo2>img{
        float: left;
    }
}
